<div class="dispGrid">
    <h1 class="headr">Калькулятор</h1>
    <input class="dispCent" [(ngModel)]="firstOperand" type="number">
    <select class="dispCent" [(ngModel)]="operator">
        <option value="-">-</option>
        <option value="+">+</option>
        <option value="/">/</option>
        <option value="*">*</option>
    </select>
    <input class="dispCent" [(ngModel)]="secondOperand" type="number">
    <input class="dispCent" (click)="doCalc()" type="submit" value="Подтвердить">
    <p class="dispBord">Результат: {{ result }}</p>
    <p class="dispBord">Текст ошибки: {{ errorMessage }}</p>
</div>