.dispGrid { 
    display: grid;
    grid-template-areas: 
      "head head head"
      "op1 op op2"
      "submit submit submit"
      "res res res"
      "err err err"; 
    grid-template-columns: 35% 1fr 35%;
    grid-template-rows: 80px 1fr 70px; 
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}  
@media screen and (max-width: 768px) {
    .dispGrid { 
      grid-template-areas: 
        "head"
        "op1"
        "op"
        "op2"
        "submit"
        "res"
        "err";
      grid-template-rows: 80px 1fr 70px 1fr 70px;  
      grid-template-columns: 1fr;
   }
}
.pageHead {
    grid-area: head;
    text-align: center;
}
.firstOperand {
    grid-area: op1;
}
.operator { 
    grid-area: op;      
}
.secondOperand { 
    grid-area: op2; 
}
.submit { 
    grid-area: submit; 
} 
.result { 
    grid-area: res; 
} 
.error { 
    grid-area: err;
} 
