<div class="dispGrid">
    <h1 class="pageHead">Калькулятор</h1>
    <input [(ngModel)]="firstOperand" type="number" class="firstOperand">
    <select [(ngModel)]="operator" class="operator">
        <option value="-">-</option>
        <option value="+">+</option>
        <option value="/">/</option>
        <option value="*">*</option>
    </select>
    <input [(ngModel)]="secondOperand" type="number" class="secondOperand">
    <input (click)="doCalc()" type="submit" value="Подтвердить" class="button" class="submit">
    <p class="result">Результат: {{ result }}</p>
    <p class="error">Текст ошибки: {{ errorMessage }}</p>
</div>