.blc{
    background-color: dimgray;
}
.cent{
    margin: auto;
    text-align: center;
}
.foc:focus{
    color: darkred;
    background-color: bisque;
}
.bac:hover{
    background-color: azure;
    border-width: 2px;
}