.blc{
    background-color: cornflowerblue;
}
.cent{
    margin: auto;
    text-align: center;
}
.foc{
    background-color: rgb(173, 255, 241);
}
::placeholder {
    color: black;
    }
.foc:focus{
    color: darkred;
    background-color: cornsilk;
}
.bac{
    background-color: rgb(173, 255, 241);
}
.bac:hover{
    background-color: azure;
    border-width: 2px;
}